<footer class="py-3 footer-bg">
    <div class="container">
        <div class="row  align-items-center row-cols-1 gy-2 row-cols-lg-3">
            <div class="col col-lg-3 text-center order-last order-lg-first text-lg-start">
                <img src="/images/CF_Logo_WO.png" height="40" />
                <div>&copy; 2024 Coder Foundry</div>
            </div>
            <div class="col col-lg-6 text-center">
                <div class="ctaTitle">Want to learn to code?</div>
                <div class="lead ctaSubTitle">Apply to Coder Foundry today!</div>
                <a href="https://www.coderfoundry.com/apply" target="_blank"
                   class="btn btn-cf-orange my-2">
                    Apply
                    Now!
                </a>
            </div>
            <div class="col col-lg-3 text-center text-lg-end">
                <a href="https://github.com/CoderFoundry" target="_blank" class="text-decoration-none">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.coderfoundry.com" class="text-decoration-none">
                    <i class="bi bi-globe2"></i>
                </a>
                <a href="https://www.youtube.com/@@CoderFoundry" class="text-decoration-none">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </div>
    </div>
</footer>

@code {

}
