@inherits LayoutComponentBase

<div class="d-flex flex-column h-100">
    <TopNavMenu />

    <main class="flex-grow-1">
        @Body
    </main>

    <Footer />

</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

}
