@page "/"

<PageTitle>Home</PageTitle>


<div class="row align-items-center justify-content-center h-100 p-5">
    <div class="col-12 col-md-4">
        <h1>Welcome To Tasker</h1>
        <div>Organize your life and never miss a moment.</div>
    </div>
    <div class="col-12 col-md-8 h-100 d-flex justify-content-center align-items-center">
        <img src="/images/LandingPageLogo.png" class="img-fluid"/>
    </div>
</div>
